<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Course Enrollment</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'category' in request.path %}active{% endif %}" href="{% url 'category-list' %}">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'course' in request.path %}active{% endif %}" href="{% url 'course-list' %}">Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'student' in request.path %}active{% endif %}" href="{% url 'student-list' %}">Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'enrollment' in request.path %}active{% endif %}" href="{% url 'enrollment-list' %}">Enrollments</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>